<%-include ('partials/_navLogin'); %>

<div class="container my-5">
  <div class="col-md-9 mx-auto">
    <div class="card ">
      <div class="card-body">
        <h3 class="card-title text-center my-3 text-primary-blue">
          Ingresar con tu usuario y contraseña
        </h3>
        <div class="row ">
          <i
            class="fas fa-user-circle fa-9x mx-auto my-3 text-primary-blue"
          ></i>
        </div>
        <form class="px-5" action="/authi" method="post">
          <!--Nombre-->
          <div class="form-group row row-no-margin mt-3">
            <label class="col"
              ><div class="text-center center">
                Nombre:
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-md-8"
              name="username"
              placeholder="Nombre"
            />
          </div>
          <!--//Nombre-->
          <!--Contrasena-->
          <div class="form-group row row-no-margin mt-3">
            <label class="col"
              ><div class="text-center center">
                Contraseña:
              </div></label
            >
            <input
              type="text"
              class="form-control text-center col-md-8"
              name="password"
              placeholder="Contraseña"
            />
          </div>
          <!--//Contrasena-->
          <div class="row">
            <input
              type="submit"
              value="Submit"
              class="btn btn-primary mx-auto"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%-include ('partials/_footer')%>
